.works {
  padding: 138px 0 176px;
}

.worksHeader {
  position: relative;
}

.worksVector {
  @include vector;
  top: -75%;
  left: -45%;
}

.worksHeaderTitle {
  @include sectionTitle;
  font-size: 72px;
  margin-bottom: 10px;
}

.worksHeaderSub {
  font-size: 18px;
  font-weight: 500;
}

.worksLine {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $colorFonts;
  margin: 91px 0 101px;
}

.worksProject {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.worksProjectList {
  display: flex;
  gap: 30px;
}

.worksProjectListItem {
  text-align: center;
}

.worksProjectListItemImg {
  width: 100%;
  margin-bottom: 32px;
  border-radius: $borderRadius;
}

.worksProjectListItemSub {
  color: $white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.worksProjectListItemTitle {
  color: $white;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.5px;
}

.worksProjectLink {
  @include btnSections;
  display: inline-flex;
  margin: 0 auto;
  background: transparent;
  border-color: $orange;
}
