@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Syne:wght@400..800&display=swap");

$fontSyne: "Syne", sans-serif;
$fontRubik: "Rubik", sans-serif;
$white: #fff;
$black: #131313;
$orange: #ff9142;
$colorFonts: #949494;
$borderRadius: 30px;

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-height: 100%;
  background-color: #1a1a1a;
  font-family: $fontRubik;
  color: $colorFonts;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  scroll-behavior: smooth;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button {
  background: transparent;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container {
  width: 1146px;
  padding: 0 12px;
  margin: 0 auto;
}

.main,
.animated {
  flex-grow: 1;
}

@mixin btns {
  cursor: pointer;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px 35px;
  border-radius: 30px;
  background: rgba(3, 3, 4, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: all 0.4s;

  &:hover {
    background-color: $white;
    color: #1a1a1a;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }
}

@mixin btnSections {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 24px;
  color: $white;
  padding: 25px 33px 25px 40px;
  border-radius: 32px;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  background-color: $orange;
  border: 2px solid rgba(255, 255, 255, 0.3);

  transition: all 0.4s;

  &:hover {
    background-color: transparent;
    color: $orange;
    box-shadow: 0 0 15px $orange;

    .homeBtnArrow {
      transform: translateX(100%);
      transition: all 0.4s;
    }
  }
  .homeBtnArrow {
    transform: translateX(0);
    transition: all 0.4s;
  }
}

@mixin sectionTitle {
  color: $white;
  font-family: $fontSyne;
  font-weight: 700;
}

@mixin vector {
  position: absolute;
  width: 517.142px;
  height: 273.029px;
  transform: rotate(-178.318deg);
  background: rgba(255, 255, 255, 0.20);
  filter: blur(100px);
}

@import "../../widgets/header/styles/Header.module";
@import "../../widgets/footer/styles/Footer.module";
@import "../../pages/Home/styles/Home.module";
